// === import-Fonts ===
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
// === /import-Fonts ===

// === import-Files ===
@import "./normalize.scss";
// === /import-Files ===

// === @mixin public ===
@mixin font-for_top-logo {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #0b132a;
}

@mixin font-size_big {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;

    color: #0b132a;
}

@mixin font-size_small {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #4f5665;
}

// === / @mixin public ===

// === Body ===
body {
    padding: 0px 150px 0px 150px;
    background: #fff9f9;
}
// === /Body ===

// === Header ===
.header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-logo {
        display: flex;
        justify-content: flex-start;
        &__icon {
            width: 35px;
            height: 36.23px;
        }

        &__text {
            margin-left: 10px;
            align-items: center;
            display: flex;
            &-first {
                @include font-for_top-logo();
            }
            &-second {
                @include font-for_top-logo();
                font-weight: bold;
            }
        }
    }

    &-nav {
        &__text {
            word-spacing: 35px;
            a {
                text-decoration: none;
                @include font-size_small();
            }
        }
    }

    &-login {
        &__in {
            margin-right: 30px;
            @include font-size_small();
            text-decoration: none;
        }
        &__up {
            padding: 13px 40px;
            @include font-size_small();
            color: #f53855;
            text-decoration: none;
            border: 1px solid #f53855;
            box-sizing: border-box;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }

        &__up:hover {
            background: #f53855;
            color: #fff;
            transition: 0.7s;
            -webkit-transition: 0.7s;
            -moz-transition: 0.7s;
            -ms-transition: 0.7s;
            -o-transition: 0.7s;
        }
    }
}

// === /Header ===

// === First article ===
.a-first {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-left {
        display: flex;
        flex-direction: column;
        width: 555px;
        height: 355px;
        margin-right: 40px;
        &-text {
            &-heading {
                display: flex;
                align-items: flex-end;

                @include font-size_big();
            }

            p {
                margin-top: 20px;
                @include font-size_small();
                color: #4f5665;
            }
        }

        &__link {
            margin-top: 50px;
            width: 96px;
            height: 26px;
            padding: 17px 77px;
            @include font-size_small();
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: #fff;
            text-decoration: none;
            background: #f53838;
            border-radius: 10px;
        }

        &__link:hover {
            transform: scale(1.05);
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
        }
    }

    &-right {
        img {
            width: 545px;
            height: 340px;
        }
    }
}
// === /First article ===

// === TODO: First space ===

@mixin for-s-first {
    display: flex;
    &__img {
        width: 55px;
        height: 55px;
    }
    &__text {
        margin-left: 36px;
        &-top {
            font-family: "Rubik", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;

            /* identical to box height, or 120% */

            color: #0b132a;
        }
        &-bottom {
            @include font-size_small();
            font-size: 20px;
            line-height: 30px;
        }
    }
} // local @mixin
.s-first {
    margin-top: 90px;
    width: auto;
    height: 200px;

    background: #ffffff;
    border-radius: 10px;
    &-content {
        padding-top: 72.5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &-users {
            @include for-s-first();
        }
        &-locations {
            @include for-s-first();
        }
        &-servers {
            @include for-s-first();
        }
    }
}
// === /First space ===
